# Python cache / bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
*.env

# Packaging
*.egg-info/

# OS / Editors
.DS_Store
.vscode/
.idea/

# Project-specific
scripts/
notebooks/
src/ETLCodeBase/dev/
src/ETLCodeBase/json_configs/io/
src/ETLCodeBase/json_configs/contracts/